<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/jannat/githubProjects/batch7Selenium">
        <packages>
            <package name="com.testng.*"></package>
        </packages>
    </test>
</suite>